.extra-networks[nsfw-setting="Blur"] .extra-network-pane .card .preview[src*="nsfw" i] {
	filter: blur(20px);
	transition: 0.15s filter cubic-bezier(.79,.14,.15,.86);
}

.extra-networks[nsfw-setting="Blur"] .extra-network-pane .card:hover .preview[src*="nsfw" i] {
	filter: blur(0px);
}

.extra-networks:not([nsfw-setting]) .extra-network-pane .card .preview[src*="nsfw" i],
.extra-networks[nsfw-setting="Hide"] .extra-network-pane .card .preview[src*="nsfw" i] {
	display: none;
}

.extra-network-control .extra-network-control--nsfw.nsfw-menu-button {
	margin-right: 1rem;
}

.extra-network-control .extra-network-control--nsfw.nsfw-menu-button:has(+ [modal-open="true"]) {
    z-index: 101;
}

.extra-network-control .extra-network-control--nsfw.nsfw-menu-button:after {
    right: 0.15rem;
    bottom: 0.25rem;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-top: 0.4rem solid var(--input-placeholder-color);
}

.extra-network-control .extra-network-control--nsfw.nsfw-menu-button.extra-network-control--enabled:after {
    border-top: 0.4rem solid var(--button-secondary-text-color);
}

.extra-network-control .extra-network-control--nsfw.nsfw-menu-button .extra-network-control--nsfw-icon {
	clip-path: polygon(0 100%, 0 0, 100% 0, 100% 67%, 67% 68%, 61% 71%, 61% 77%, 86% 100%);
}

.extra-network-control .extra-network-control--nsfw {
    padding: 0.25rem;
    display: inline-flex;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    position: relative;
}

.extra-network-control--nsfw .extra-network-control--nsfw-icon {
    height: 1.5rem;
    width: 1.5rem;
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: 100%;
    background-color: var(--input-placeholder-color);
}

.extra-networks[nsfw-setting="Blur"] .extra-network-control .extra-network-control--nsfw.nsfw-menu-button .extra-network-control--nsfw-icon,
.extra-network-control .extra-network-control--nsfw.nsfw-blur .extra-network-control--nsfw-icon {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px'%3E%3Cpath d='M120-380q-8 0-14-6t-6-14q0-8 6-14t14-6q8 0 14 6t6 14q0 8-6 14t-14 6Zm0-160q-8 0-14-6t-6-14q0-8 6-14t14-6q8 0 14 6t6 14q0 8-6 14t-14 6Zm120 340q-17 0-28.5-11.5T200-240q0-17 11.5-28.5T240-280q17 0 28.5 11.5T280-240q0 17-11.5 28.5T240-200Zm0-160q-17 0-28.5-11.5T200-400q0-17 11.5-28.5T240-440q17 0 28.5 11.5T280-400q0 17-11.5 28.5T240-360Zm0-160q-17 0-28.5-11.5T200-560q0-17 11.5-28.5T240-600q17 0 28.5 11.5T280-560q0 17-11.5 28.5T240-520Zm0-160q-17 0-28.5-11.5T200-720q0-17 11.5-28.5T240-760q17 0 28.5 11.5T280-720q0 17-11.5 28.5T240-680Zm160 340q-25 0-42.5-17.5T340-400q0-25 17.5-42.5T400-460q25 0 42.5 17.5T460-400q0 25-17.5 42.5T400-340Zm0-160q-25 0-42.5-17.5T340-560q0-25 17.5-42.5T400-620q25 0 42.5 17.5T460-560q0 25-17.5 42.5T400-500Zm0 300q-17 0-28.5-11.5T360-240q0-17 11.5-28.5T400-280q17 0 28.5 11.5T440-240q0 17-11.5 28.5T400-200Zm0-480q-17 0-28.5-11.5T360-720q0-17 11.5-28.5T400-760q17 0 28.5 11.5T440-720q0 17-11.5 28.5T400-680Zm0 580q-8 0-14-6t-6-14q0-8 6-14t14-6q8 0 14 6t6 14q0 8-6 14t-14 6Zm0-720q-8 0-14-6t-6-14q0-8 6-14t14-6q8 0 14 6t6 14q0 8-6 14t-14 6Zm160 480q-25 0-42.5-17.5T500-400q0-25 17.5-42.5T560-460q25 0 42.5 17.5T620-400q0 25-17.5 42.5T560-340Zm0-160q-25 0-42.5-17.5T500-560q0-25 17.5-42.5T560-620q25 0 42.5 17.5T620-560q0 25-17.5 42.5T560-500Zm0 300q-17 0-28.5-11.5T520-240q0-17 11.5-28.5T560-280q17 0 28.5 11.5T600-240q0 17-11.5 28.5T560-200Zm0-480q-17 0-28.5-11.5T520-720q0-17 11.5-28.5T560-760q17 0 28.5 11.5T600-720q0 17-11.5 28.5T560-680Zm0 580q-8 0-14-6t-6-14q0-8 6-14t14-6q8 0 14 6t6 14q0 8-6 14t-14 6Zm0-720q-8 0-14-6t-6-14q0-8 6-14t14-6q8 0 14 6t6 14q0 8-6 14t-14 6Zm160 620q-17 0-28.5-11.5T680-240q0-17 11.5-28.5T720-280q17 0 28.5 11.5T760-240q0 17-11.5 28.5T720-200Zm0-160q-17 0-28.5-11.5T680-400q0-17 11.5-28.5T720-440q17 0 28.5 11.5T760-400q0 17-11.5 28.5T720-360Zm0-160q-17 0-28.5-11.5T680-560q0-17 11.5-28.5T720-600q17 0 28.5 11.5T760-560q0 17-11.5 28.5T720-520Zm0-160q-17 0-28.5-11.5T680-720q0-17 11.5-28.5T720-760q17 0 28.5 11.5T760-720q0 17-11.5 28.5T720-680Zm120 300q-8 0-14-6t-6-14q0-8 6-14t14-6q8 0 14 6t6 14q0 8-6 14t-14 6Zm0-160q-8 0-14-6t-6-14q0-8 6-14t14-6q8 0 14 6t6 14q0 8-6 14t-14 6Z'/%3E%3C/svg%3E");
}

.extra-networks[nsfw-setting="Show"] .extra-network-control .extra-network-control--nsfw.nsfw-menu-button .extra-network-control--nsfw-icon,
.extra-network-control .extra-network-control--nsfw.nsfw-show .extra-network-control--nsfw-icon {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px'%3E%3Cpath d='M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-134 0-244.5-72T61-462q-5-9-7.5-18.5T51-500q0-10 2.5-19.5T61-538q64-118 174.5-190T480-800q134 0 244.5 72T899-538q5 9 7.5 18.5T909-500q0 10-2.5 19.5T899-462q-64 118-174.5 190T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z'/%3E%3C/svg%3E");
}

.extra-networks[nsfw-setting="Hide"] .extra-network-control .extra-network-control--nsfw.nsfw-menu-button .extra-network-control--nsfw-icon,
.extra-network-control .extra-network-control--nsfw.nsfw-hide .extra-network-control--nsfw-icon {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px'%3E%3Cpath d='M607-627q29 29 42.5 66t9.5 76q0 15-11 25.5T622-449q-15 0-25.5-10.5T586-485q5-26-3-50t-25-41q-17-17-41-26t-51-4q-15 0-25.5-11T430-643q0-15 10.5-25.5T466-679q38-4 75 9.5t66 42.5Zm-127-93q-19 0-37 1.5t-36 5.5q-17 3-30.5-5T358-742q-5-16 3.5-31t24.5-18q23-5 46.5-7t47.5-2q137 0 250.5 72T904-534q4 8 6 16.5t2 17.5q0 9-1.5 17.5T905-466q-18 40-44.5 75T802-327q-12 11-28 9t-26-16q-10-14-8.5-30.5T753-392q24-23 44-50t35-58q-50-101-144.5-160.5T480-720Zm0 520q-134 0-245-72.5T60-463q-5-8-7.5-17.5T50-500q0-10 2-19t7-18q20-40 46.5-76.5T166-680l-83-84q-11-12-10.5-28.5T84-820q11-11 28-11t28 11l680 680q11 11 11.5 27.5T820-84q-11 11-28 11t-28-11L624-222q-35 11-71 16.5t-73 5.5ZM222-624q-29 26-53 57t-41 67q50 101 144.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z'/%3E%3C/svg%3E");
}

.extra-networks[nsfw-setting="Blur"] .extra-network-control .extra-network-control--nsfw.nsfw-blur,
.extra-networks[nsfw-setting="Show"] .extra-network-control .extra-network-control--nsfw.nsfw-show,
.extra-networks[nsfw-setting="Hide"] .extra-network-control .extra-network-control--nsfw.nsfw-hide  {
	display: none;
}

.nsfw-modal-div {
	display: none;
	padding: 3rem 0.5rem 0.35rem;
	position: absolute;
	z-index: 100;
	background: var(--panel-background-fill);
	justify-content: center;
	align-content: center;
	border-radius: var(--radius-md);
	top: calc(100% - 2.65rem);
    left: -0.5rem;
}

.nsfw-modal-div-clear {
	opacity: 0.5;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	cursor: pointer;
}